[Unit]
Description=Alertmanager Service

[Service]
User=root
ExecStart={{ binary_path }}/alertmanager \
          --config.file=/etc/alertmanager/alertmanager.yml \
          --storage.path=/var/lib/alertmanager \
          --cluster.listen-address=localhost:9094 \
          --cluster.advertise-address=0.0.0.0:9093

Restart=on-failure

[Install]
WantedBy=multi-user.target
