global:
  resolve_timeout: {{ alertmanager_resolve_timeout }}

route:
  group_by: ['alertname']
  group_wait: {{ alertmanager_group_wait }}
  group_interval: {{ alertmanager_group_interval }}
  repeat_interval: {{ alertmanager_repeat_interval }}
  receiver: 'web.hook'

receivers:
  - name: 'web.hook'
    webhook_configs:
      - url: '{{ alertmanager_webhook_url }}'
